<!DOCTYPE html>
    <html ng-app>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

        <div class="main">
            <div class="inside_main">

                
                <!--- <label>Message:</label>
                <input type="text" ng-model="yourMessage" placeholder="Enter Your Message"><br /><br />
                <label>Name:</label>
                <input type="text" ng-model="yourName" placeholder="Enter Your Name">
                <hr />
                <h1>{{yourMessage}} {{yourName}}</h1> --->



       
         <script>
         //Controller
            // var ctrl = function($scope){
            //     $scope.name = "Darryl";
            //     $scope.age = 20;
            // };
            // var anotherctrl = function($scope){
            //     $scope.name = "Darryl";
            //     $scope.age = 20;
            //     $scope.$watch("name", function(){
            //         console.log($scope.name);
            //     });
            // };
        


        </script>

          <!--- <div class="main">
            <div class="inside_main">
               <div ng-controller="ctrl">
                    <input ng-model="name">
                    <h1>{{name}}</h1>
                    <h2>{{age}}</h2>
                </div>

                <div ng-controller="anotherctrl">
                    <input ng-model="name">
                    <h1>{{name}}</h1>
                    <h2>{{age}}</h2>
                </div>
            </div>
          </div> --->

          <!---  <div>
           <label>Name</label>&nbsp;<input type="text" ng-model="name">
          </div>
          <div>
            <input type="checkbox" ng-model="checked">&nbsp;<label>Hide?</label>
          </div>
          <div ng-hide="checked">
            Hello {{name || "world"}}!
          </div> --->

            <script>
                // var list = function($scope){
                //     $scope.people = [
                //     {name: "Tom", age: 20},
                //     {name: "Billy", age: 20},
                //     {name: "Bobby", age: 20}
                //     ];
                // };
            </script>

           <!---  <div>
                <input type="text" ng-model="search">
            </div>

            <div ng-controller="list">
                <ul>
                    <li ng-repeat="person in people | filter:search">
                    {{person.name}} : {{person.age}}
                    </li>
                </ul>
            </div> --->


             </div>
          </div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>



















